@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Libre+Baskerville:wght@400;700&family=Yuji+Boku&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* ---------------------------------------------------------------- */
/* Global Styles */

/* Fonts */

p{
    font-family: 'Inter', sans-serif;;
    font-size: 24px;
}

/* Main Body */

body{

    width: 100%;
    height: 2160px;
    background-image: url(../assets/checkout-background.png);
    background-position: center;
    background-size: cover;
}

/* Navigation */

.nav-link {
    font-family: 'Libre Baskerville', serif;
    color: #F2F2F2;
    font-size: 13px;
}

.nav-link:hover {
    color: #8C0325;
}

.nav-link.active {
    border-bottom: 2px solid #F2F2F2;
    color: #F2F2F2;
}


/* Table */

/* Table Styles */
table {
    margin-top: 90px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    border: 2px solid #FFFFFF; /* White border */
}


#myTable {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #FFFFFF;
}
/* Rest of your table styling remains unchanged */

.trip-title{
    font-family: 'Yuji Boku', serif;
    font-size: 48px;
    margin-top: 240px;
    margin-left: 550px;
    color: white;

}

tbody{
    width: 1057px; 
}

.image1{
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.image2{
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.image3{
    width: 200px;
    height: 200px;
    padding-left: 20px;
}

.thead{
    margin-left: -20px;
}

